.gmap{
    height: -webkit-fill-available;
}
.inlineBlock{
    display: inline-block;
}
.button-collapse{
    margin:0 18px;
}
input#search:focus{
    color:black;
}
input#search{
    color:#FAF1CF;
}
a.draw{
    position: fixed;
    right:0;
    top: 15%;
}
a.apply {
    position: fixed;
    left:0;
    top: 15%;
}
.drawing{
    width:100%;
    height: -webkit-fill-available;
}