<nav>
    <div class="nav-wrapper">
        <a (click)="GoBack()" class="button-collapse left inlineBlock"><i
                class="material-icons white-text">arrow_back</i></a>
        <div class="input-field inlineBlock search">
            <input id="search" type="search" #search autocorrect="off"  autocapitalize="off" spellcheck="off" [(ngModel)]="searchTerm">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons" (click)="clearSearch()" >close</i>
        </div>
    </div>
</nav>

<div class="map">
    <!-- <agm-map class="gmap" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)"
        [clickableIcons]="false" [streetViewControl]="false" [zoomControl]="false">
        <agm-marker [latitude]="latitude" [longitude]="longitude" >
            <agm-info-window>
                <strong>You are here</strong>
              </agm-info-window>
        </agm-marker>
        <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="true"
            (dragEnd)="markerDragEnd(i, $event)" [iconUrl]="'../../assets/images/green-dot.png'">
        </agm-marker>
        <agm-polyline [strokeColor]="'#5DAA68'">
            <agm-polyline-point *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng">

            </agm-polyline-point>
        </agm-polyline>

        <agm-polygon [paths]="paths" [strokeColor]="'#5DAA68'">

        </agm-polygon>
    </agm-map> -->
    <div class="map" *ngIf="options != null"  leaflet [leafletOptions]="options" [(leafletCenter)]="centerLocation"
        (leafletClick)="mapClicked($event)">
        <div *ngFor="let l of markerLayers" [leafletLayer]="l"></div>
        <div [leafletLayer]="polygonLayer"></div>

    </div>

    <div class="button-wrapper">
        <a class="btn-floating btn-meduim waves-effect waves-light apply float"
            *ngIf="markers !== undefined && markers.length >= 3" (click)="SaveDraw()"><i
                class="material-icons">check</i></a>
        <a class="btn-floating btn-meduim waves-effect waves-light draw float" *ngIf="!drawing" (click)="StartDraw()"><i
                class="material-icons">edit</i></a>
        <a class="btn-floating btn-meduim waves-effect waves-light draw float" *ngIf="drawing" (click)="CancelDraw()"><i
                class="material-icons">close</i></a>
    </div>



</div>
