
<div mat-dialog-title>Login</div>
<div mat-dialog-content>
    <div class=".input-field">
      <input matInput type="email" placeholder="Email Address" />
    </div>
    <div class=".input-field">
      <input matInput type="password" placeholder="Password" />
    </div>
    <a href="#">Forgot Password</a>
    <div>
      <button>No Account</button>
      <button>Login</button>
    </div>
    <hr />
    <button >Facebook</button>
    <button>Microsoft</button>
</div>
<!-- <mat-card>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput type="email" placeholder="Email Address" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" />
      </mat-form-field>
    </form>
    <hr />
    <button >Facebook</button>
    <button>Microsoft</button>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button (click)="delete()">Login</button>
  </mat-card-footer>
</mat-card> 
<div id="loginModel" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
    <div class=".input-field">
      <input matInput type="email" placeholder="Email Address" />
    </div>
    <div class=".input-field">
      <input matInput type="password" placeholder="Password" />
    </div>
    <a href="#">Forgot Password</a>
    <div>
      <button>No Account</button>
      <button>Login</button>
    </div>
    <hr />
    <button >Facebook</button>
    <button>Microsoft</button>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

</script> -->