<div *ngIf="graphService.TypeSettings.get(measurementTypeId).Visible && graphService.TypeSettings.get(measurementTypeId).Measurements.length > 0" class="card graphControl">
    <h4 class="card-title">{{MeasurementName}}</h4>
    <a class="icon"><i class="material-icons">filter_list</i></a>
    <div style="display: block">
        <canvas baseChart
                [datasets]="graphService.TypeSettings.get(measurementTypeId).Measurements"
                [labels]="graphService.TypeSettings.get(measurementTypeId).Labels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="graphService.TypeSettings.get(measurementTypeId).GraphStyle">
        </canvas>
    </div>
</div>