@charset "UTF-8";

// Color
@import "assets/sass/components/color-variables";
@import "assets/sass/components/color-classes";

// Variables;
@import "assets/sass/components/variables";

// Reset
@import "assets/sass/components/normalize";

// components
@import "assets/sass/components/global";
@import "assets/sass/components/badges";
@import "assets/sass/components/icons-material-design";
@import "assets/sass/components/grid";
@import "assets/sass/components/navbar";
@import "assets/sass/components/typography";
@import "assets/sass/components/transitions";
@import "assets/sass/components/cards";
@import "assets/sass/components/toast";
@import "assets/sass/components/tabs";
@import "assets/sass/components/tooltip";
@import "assets/sass/components/buttons";
@import "assets/sass/components/dropdown";
@import "assets/sass/components/waves";
@import "assets/sass/components/modal";
@import "assets/sass/components/collapsible";
@import "assets/sass/components/chips";
@import "assets/sass/components/materialbox";
@import "assets/sass/components/forms/forms";
@import "assets/sass/components/table_of_contents";
@import "assets/sass/components/sidenav";
@import "assets/sass/components/preloader";
@import "assets/sass/components/slider";
@import "assets/sass/components/carousel";
@import "assets/sass/components/tapTarget";
@import "assets/sass/components/pulse";
@import "assets/sass/components/datepicker";
@import "assets/sass/components/timepicker";
.mat-dialog-container {
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
	background: #fff;
	color: rgba(0, 0, 0, .87)
}
.mat-dialog-title {
	font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif
}
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%
}

.cdk-overlay-container {
	position: fixed;
	z-index: 1000
}

.cdk-overlay-container:empty {
	display: none
}

.cdk-global-overlay-wrapper {
	display: flex;
	position: absolute;
	z-index: 1000
}

.cdk-overlay-pane {
	position: absolute;
	pointer-events: auto;
	box-sizing: border-box;
	z-index: 1000;
	display: flex;
	max-width: 100%;
	max-height: 100%
}

.cdk-overlay-backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	pointer-events: auto;
	-webkit-tap-highlight-color: transparent;
	transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
	opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
	opacity: 1
}

@media screen and (-ms-high-contrast:active) {
	.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
		opacity: .6
	}
}

.cdk-overlay-dark-backdrop {
	background: rgba(0, 0, 0, .32)
}

.cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
	opacity: 0
}

.cdk-overlay-connected-position-bounding-box {
	position: absolute;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	min-width: 1px;
	min-height: 1px
}
app-areas, app-measurement-types, app-area-measurements, app-login, app-graph, app-registration, app-home {
    margin-top:56px;
    position: absolute;
    width:100vw;
}
.AddButton {
    bottom: 30px;
    right: 10px;
	position: fixed;
	z-index: 2;
}
.areaItem, .measurementItem{
    height: 50px;
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 10px;
}
.AlignRight{
    float: right;
}